<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>pop-window</title>
	<link rel="stylesheet" type="text/css" href="./pop-window.css">
	<script type="text/javascript" src="./pop-window.js"></script>
	<link rel="stylesheet/less" type="text/css" href="styles.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
</head>
	<body>
		<div>
		    <video id="video" 
            width="600" height="360" 
            controls autoplay muted
            >
			    <source src="http://nettuts.s3.amazonaws.com/763_sammyJSIntro/trailer_test.mp4" type='video/mp4'>
				<source src="http://nettuts.s3.amazonaws.com/763_sammyJSIntro/trailer_test.ogg" type='video/ogg'>
            </video>
		</div>
		<div class="login">
			<div class="login-box" id="login-id">
				<span class="caption">欢迎您注册网站会员，如果您已有账户，则可就在此<span style="font-style: blue;">登录</span></span>
				<div class="login-text">
					用&nbsp;户&nbsp;名：<input id="username" type="text" class="username" onblur="onUserNameBlur(this)"/> <span class="span1">用户名支持数字和字母，位数至少为四位</span><br>
					设置密码: <input id="password" type="password" class="password" onblur="pwdonblur(this, document.getElementById('passwordss'))"/> <span class="span2">密码支持数字和字母，位数至少为四位</span><br>
					确认密码: <input id="passwordss" type="password" class="passwordss" onblur="pwdsonblur(this,document.getElementById('password'))"/> <span class="span3">再次输入密码</span>
					手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：<input type="text" class="tel"  onblur="telonblur(this)"/><span class="span4">请输入11位手机号码</span>
					邮 &nbsp;&nbsp;&nbsp;&nbsp;箱：<input type="text" class="email" onblur="emailonblur(this)"/><span class="span5">邮箱后面必须带有@号</span>
					验&nbsp;证&nbsp;码 : <input type="text" class="yzm"/>  <button class="picyzm">获取验证码</button><span class="span6"></span>
					<input type="button"  value="立即注册" class="zhuce"/>
				</div>
			</div>
		</div>
	</body>
</html>